/* VARIABLES */

/* :root { */
    /* --main-text-color : #fff; */
    /* --main-bg-color : #fff; */
    /* --main-font-size : 16px; */
    /* --main-font-weight : 400; */
    /* --main-line-height : 1.5; */
    /* } */
    
    /* GENERAL */
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    html {
        height: 100%;
        box-sizing: border-box;
    }
    
    img {
        display: block;
        height: auto;
    }
    
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #e7e7ff;
        color: rgb(255, 0, 195);
        /* font-family: "Roboto", "Arial", sans-serif; */
        /* font-size: 16px; */
        /* font-weight: 400; */
        /* line-height: var(--main-line-height); */
    }
    
    /* VISUALLY-HIDDEN */
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    /* CONTAINER */
    
    .container {
        max-width: 1240px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    /* STICKY-FOOTER */
    
    .site-main {
        flex-grow: 1;
    }

    .inner__title {
        text-align: center;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 30px;
        row-gap: 50px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .item {
        max-width: 300px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #edffe7;
        border-radius: 20px;
        box-shadow: 0px 4px 14px 0px #159c25;
        transition: 0.3s ease;
    }

    .item:hover {
        box-shadow: 0px 4px 14px 0px #fffc4f;
    }

    .img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .mauto {
        color: red;
        display: block;
        text-align: center;
        margin: 0;
    }

    .color-blue {
        color: blue;
    }

    .style-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }